body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokeball {
  position: relative;
}

.purple {
  background-color: #6A0090;
  width: 100vw;
  height: 50vh;
}

.pinkCircle1, .pinkCircle2 {
  height: 34.375rem;
  position: absolute;
  top: 0;
  width: 34.375rem;
  border-radius: 50%;
  background-color: #BD0EA7;
  box-sizing: border-box;
  border: 0.188rem solid #000000;
}

.pinkCircle1 {
  transform: translate(-50%, -50%);
  left: 0;
}

.pinkCircle2 {
  right: 0;
  transform: translate(50%, -50%);
}

.blackStrip {
  height: 3.7rem;
  width: 100vw;
  background-color: #333333;
  box-sizing: border-box;
  border: 0.188rem solid #000000;
  position: absolute;
  transform: translateY(-50%);
}

.blackCircle, .whiteCircleBig, .whiteCircleSmall {
  position: absolute;
  box-sizing: border-box;
  border: 0.188rem solid #000000;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%)
}

.blackCircle {
  background-color: #333333;
  height: 18.75rem;
  width: 18.75rem;
}

.whiteCircleBig {
  background-color: white;
  height: 11.75rem;
  width: 11.75rem;
}

.whiteCircleSmall {
  height: 7.5rem;
  width: 7.5rem;
}

.lightCircle1, .lightCircle2 {
  height: 13.75rem;
  width: 13.75rem;
  background-color: #D247C1;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.lightCircle1 {
  transform: translate(-50%, -50%)
}

.lightCircle2 {
  right: 0;
  transform: translate(50%, -50%)
}

.bigLightCircle {
  width: 51.563rem;
  height: 26.125rem;
  background-color: #9436B6;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}

.listUi {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.orangeBlock { 
  position: absolute;
  width: 99vw;
  left: 35%;
  /* left: -9%; */
  transform: skew(160deg);
  transform-origin: bottom left;
  height: 100vh;
  background-color: #F84E1A;
  overflow: hidden;
}

.blackBar {
  position: absolute;
  top: 10%;
  height: 2.5rem;
  width: 100vw;
  align-content: center;
  display: flex;
  right: 0;
  background-color: #333333;
}

::-webkit-scrollbar {
  background-color: #333333;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #F84E1A;
  height: 1.7rem;
}

.infoBox {
  width: 40vw;
  height: 2.3rem;
  border: 0.05rem solid #C0C0C0;
  display: flex;
}

.greyInfoBox {
  width: 30vw;
  height: 2.3rem;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.whiteInfoBox {
  width: 30vw;
  height: 2.3rem;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  align-items: center;
  display: flex;
}

.infoDescription {
  width: 37.593vw;
  height: fit-content;
  margin-top: 0.10rem;
  border: 0.05rem solid transparent;
  display: flex;
  background-color: white;
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
